<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css" />
    <title>About</title>
</head>
<body>
    <div th:replace="fragments/header :: header">Header</div>
    <div id="about-sectie1">
        <div class="about-1">
            <img th:src="@{img/gauthierPics/about us.jpg}" width="612" height="612">
        </div>
        <div class="about-1">
            <h2 style="font-size: 40px; text-align: left">Over ons</h2>
            <h3 style="font-size: 25px; line-height: 1.8; text-align: left">
                Chocolaterie Gauthier werd in 1964 opgericht door<br> Edouard Gauthier.
                Al 57 jaar maakt Edouard naar<br> goede Belgische gewoonte,
                volgens eigen receptuur en<br> met respect voor de ambachtelijke traditie<br> kwaliteitsproducten.
            </h3>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer">footer</div>
</body>
</html>