<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css" />
    <title>Pralines</title>
</head>
<body>
    <div th:replace="fragments/header :: header">Header</div>
    <h2>Pralines</h2>
    <div th:text="${nrOfPralines} + ' pralines gevonden'">Pralines</div>
    <div th:if="${showFilters == false}"  class="filters" >
        <a class="filterButton" th:href="@{/pralinelist/filter}">Filter</a>
    </div>

    <div th:if="${showFilters}"  class="filters" >
        <a class="filterButton" th:href="@{/pralinelist}">Geen filter</a>
        <form>
            <div>
                <input type="submit" value="Zoek">
                <label for="typeChocolade">Kies je chocolade:</label>
                <select name="typeChocolade" id="typeChocolade">
                    <option value="zwart">Zwart</option>
                    <option value="melk">Melk</option>
                    <option value="wit">Wit</option>
                </select>
            </div>
        </form>
    </div>

    <div th:each="praline:${pralines}">
        <a th:href="@{|pralinedetails/${praline.id}|}">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" th:src="@{img/271259285_656167565407242_1764683078640815272_n.jpg}" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text" th:text="${praline.pralineName}">praline naam</p>
                </div>
            </div>
<!--            <div class="praline-card">-->
<!--                <img th:src="@{img/271259285_656167565407242_1764683078640815272_n.jpg}" alt="praline" style="width:192px; height: 144px">-->
<!--                <div class="container">-->
<!--                    <h3 th:text="${praline.pralineName}">praline naam</h3>-->
<!--                </div>-->
<!--            </div>-->
        </a>
    </div>
    <div th:replace="fragments/footer :: footer">footer</div>
</body>
</html>