<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css" />
    <title>Pralines</title>
</head>
<body>
    <div th:replace="fragments/header :: header">Header</div>
    <h2>Pralines</h2>
    <div th:text="${nrOfPralines} + ' pralines gevonden'">Pralines</div>

    <div>
        <form>
            <input type="submit" value="Zoek">
            <div class="filter-item">
                <label for="typeChocolade">Kies je chocolade:</label>
                <select name="typeChocolade" id="typeChocolade">
                    <option value="">All</option>
                    <option value="zwart">Zwart</option>
                    <option value="melk">Melk</option>
                    <option value="wit">Wit</option>
                </select>
            </div>
            <div class="filter-item">
                <label for="vulling">Kies je vulling:</label>
                <select name="vullingId" id="vulling">
                    <option value="">All</option>
                    <div th:each="vulling:${vullings}">
                        <option th:text="${vulling.vullingName}" th:value="${vulling.id}">vulling</option>
                    </div>
                </select>
            </div>
<!--            <h3>Met alcohol</h3>-->
<!--            <div class="filter-item">-->
<!--                <label for="alcohol_yes">ja</label>-->
<!--                <select name="filterAlcohol" id="alcohol_yes" value="yes">-->

<!--                </select>-->
<!--            </div>-->
<!--            <div class="filter-item">-->
<!--                <label for="alcohol_no">ja</label>-->
<!--                <select name="filterAlcohol" id="alcohol_no" value="no">-->

<!--                </select>-->
<!--            </div>-->
<!--            <div class="filter-item">-->
<!--                <label for="alcohol_all">ja</label>-->
<!--                <select name="filterAlcohol" id="alcohol_all" value="all">-->

<!--                </select>-->

        </form>
    </div>

    <div th:each="praline:${pralines}" class="praline-card">
        <a th:href="@{|pralinedetails/${praline.id}|}">
            <div class="card" style="width: 18rem;">
                <img th:src="@{|${praline.imgSource}|}" alt="Card image cap" style="height: 200px; width: 200px">
                <div class="container">
                    <p th:text="${praline.pralineName}">praline naam</p>
                </div>
            </div>
        </a>
    </div>
    <div th:replace="fragments/footer :: footer">footer</div>
</body>
</html>