<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="/css/style.css" />
    <title>VullingDetails</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
    <h3 th:text="${vulling.vullingName}">vullingName</h3>
    <p th:text="${vulling.info}">info</p>
    <p th:if="${vulling.alcohol}">Bevat alcohol</p>
    <p th:unless="${vulling.alcohol}">Bevat geen alcohol</p>

<div th:replace="fragments/footer :: footer">footer</div>
</body>
</html>